#include <windows.h>
#include "resource.h"

SERVER_DLG DIALOGEX 0, 0, 200, 256
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP |
WS_CAPTION | WS_SYSMENU

CAPTION "パラメータエディット"
FONT 9, "ＭＳ ゴシック", 400, 0, 0x80
BEGIN
	EDITTEXT		IDC_PARAM_NAME, 43, 7, 76, 15, ES_AUTOHSCROLL
	LTEXT			"建物名"		IDC_STATIC, 7, 7, 30, 12
	EDITTEXT		IDC_PARAM1, 43, 25, 76, 15, ES_AUTOHSCROLL | ES_NUMBER
	LTEXT			"信仰"		IDC_STATIC, 7, 25, 30, 12
	EDITTEXT		IDC_PARAM2, 43, 43, 76, 15, ES_AUTOHSCROLL | ES_NUMBER
	LTEXT			"治安"		IDC_STATIC, 7, 43, 30, 12
	EDITTEXT		IDC_PARAM3, 43, 61, 76, 15, ES_AUTOHSCROLL | ES_NUMBER
	LTEXT			"景観"		IDC_STATIC, 7, 61, 30, 12
	PUSHBUTTON		"終了"		IDC_ENDBTN, 160, 236, 29, 14
	PUSHBUTTON		"変更"		IDC_APPLYBTN, 125, 236, 29, 14
END
